NODE_ENV=dev

# AWS S3 Configuration
AWS_REGION=ap-northeast-2
AWS_ACCESS_KEY_ID=your-aws-access-key-id
AWS_SECRET_ACCESS_KEY=your-aws-secret-access-key
AWS_S3_BUCKET=your-s3-bucket-name
AWS_S3_PREFIX=prefix/

# CDN Configuration
CDN_DOMAIN=https://your-cdn-domain.com
