@import 'tailwindcss';

@font-face {
  font-family: 'DearFromsol';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/2607161334@griun-fromsol-rg/griun-fromsol-rg/Griun_Fromsol-Rg.woff2')
    format('woff2');
  font-weight: 400;
  font-display: swap;
}

@theme {
  --color-*: initial;

  --color-black: #1b1b1b;
  --color-gray: #bababa;
  --color-white: #ffffff;

  --color-tomato-body-1: #9beb87;
  --color-tomato-body-2: #f5ae8d;
  --color-tomato-body-3: #f5908d;
  --color-tomato-body-4: #f36673;
  --color-tomato-leaf: #2ae578;
  --color-lamp-on: #ffed92;
  --color-lamp-off: #ffffff;

  --font-dearfromsol: 'DearFromsol';

  --cursor-default: url('./assets/cursor_default.svg') 4 4, default;
  --cursor-pointer: url('./assets/cursor_pointer.svg') 4 4, pointer;
  --cursor-grab: url('./assets/cursor_grab.svg') 4 4, grab;
  --cursor-grabbing: url('./assets/cursor_grabbing.svg') 4 4, grabbing;
  --cursor-text: url('./assets/cursor_text.svg') 4 4, text;
}

body {
  @apply cursor-default font-dearfromsol text-black;
}

button,
a {
  @apply cursor-pointer;
}

input[type='text'] {
  @apply cursor-text;
}

@keyframes note-slide {
  0% { transform: translateX(0); }
  33.33% { transform: translateX(-128px); }
  66.66% { transform: translateX(-256px); }
}

.note-animation {
  animation: note-slide 1.5s steps(1) infinite;
}
